  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 18px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
    
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 canvas
 {
    border:5px white;
    box-shadow: 5px 5px 5px royalblue;
    margin-top: 100px;
 }
 body
 {
  text-align: center;
  
 }
 .copy_right_footer
 {
  position: fixed;
  color: darkorange;
  bottom: 10px;
  width: 100%;
  background-color: green;
  line-height: 4;

 }